<form class="flexcol">
<span style="font-weight: bold">{{rollType}}</span>
<br />
{{{rollHTML}}}
{{rollResults}}
{{!-- {{#if success}}
    <a class="dmgRoll dmgButton" data-actor="{{actor}}">Roll Damage</a>
{{/if}} --}}

</form>
<script>

</script>