<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="ProfileSide">
       <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="flex-center flex-group-center ">
        <label for="system.powerDie" class="powerDieLabel">Power Die</label>
        {{system.powerDie}}
        <select name="powerDie" class="powerDie">
          {{#select system.powerDie}}
            <option value="d4">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
          {{/select}}  
        </select>
        <button class="rollPowerDie" data-roll-type="PowerDie" data-powerDie="{{system.powerDie}}">Roll Power Die <i class="fa-regular fa-dice-d12"></i></button>
      </div>
      <div class="flexrow flex-center flex-group-center"><h3>Destiny Die</h3></div>
      <div class="flexrow flex-center flex-group-center">
        <button class="destinyDiePlus"><i class="fas fa-plus"></i></button><input type="text" name="system.DDie" value="{{system.DDie}}" data-dtype="Number"/><button class="destinyDieMinus"><i class="fas fa-minus"></i></button>
      </div>
      <div class="flexrow flex-center flex-group-center">
        <button class="destinyDieroll">Roll Destiny<i class="fa-regular fa-dice-d12"></i></button>
      </div>
      {{#if isGM}}
      <div class="flexrow flex-center flex-group-center">
        <button class="destinyDieSave"><i class="fas fa-floppy-disk"></i></button> <button class="destinyDieReset"><i class="fa-solid fa-repeat"></i></button>
      </div>
      {{/if}}
    </div>
    <div class="StatSide">
      <div class="statName">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>  
      </div>
      <div class="statClassAndSpecies">
          <div class="statClass">
            <label for="system.class" class="resource-label">Class</label>
            <div class="flexrow">
              <input type="text" name="system.class" value="{{system.class}}" class="" />
              <button class="clearClass headerButton" data-id="{{classId}}"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
          <div class="statSpecies">
             <label for="system.species" class="resource-label">Species</label>
              <div class="flexrow ">
                <input type="text" name="system.species" value="{{system.species}}" />
                <button class="clearSpecies headerButton" data-id="{{speciesId}}"><i class="fa-solid fa-trash"></i></button>
                {{#if (isWere system.species)}}<button class="shapeShift headerButton"><i class="fa-brands fa-wolf-pack-battalion"></i></button>{{/if}}   
              </div>
          </div>
      </div>
      <div class="statMain">
        <div class="statLevel">
           <label for="system.attributes.level.value" class="resource-label">Level</label>
          <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number" class="grid-span-2"/>
        </div>
        <div class="statMovement">
          <label for="system.movement" class="resource-label">Movement</label>
          <input type="text" name="system.movement" value="{{system.movement}}" data-dtype="Number" />
        </div>
        <div class="statDamage">
          <label for="system.damageBonus" class="resource-label ">Damage Bonus</label>
          <input type="text" name="system.damageBonus" value="{{system.damageBonus}}"  />
        </div>
        <div class="statToHit">
          <label for="system.toHit" class="resource-label ">To Hit</label>
          <input type="text" name="system.toHit" value="{{system.toHit}}"  />
        </div>
      </div>
      <div class="health">
        <div class="healthPoints">
          <label for="system.health.current" class="pool-point-label-mental ">Health</label>
          <div class="healthPointsContainer">
            <div class="rowHealth">
              <button class="upHealth" data-health="1">+</button>
              <input type="text" name="system.health.current" value="{{system.health.current}}" data-dtype="Number"/>
              <button class="upHealth"  data-health="-1">-</button>
              <span> / </span>
              <input type="text" name="system.health.base" value="{{system.health.base}}" data-dtype="Number"/>
            </div>
          </div>
          <button class="resetPool" data-pool="health"><i class="fa-solid fa-repeat"></i></button>
        </div>
        <div class="actionPoints">
          <label for="system.actionPoints" class="pool-point-label-mental ">Action Points</label>
          <div class="actionPointsInput">
             <div class="rowHealth">
                <button class="upActionPoints" data-action="1">+</button>
               <input type="text" name="system.actionPoints" value="{{system.actionPoints}}" data-dtype="Number"/>
                <button class="upActionPoints" data-action="-1">-</button>
             </div>
          </div>
          <button class="resetActionPoints"><i class="fa-solid fa-repeat"></i></button>
        </div>
      </div>
      <div class="statPoolPoints">
        <div class="resource grid-span-4 flex-group-center boxed">
          <label for="system.arcane.current" class="pool-point-label-arcane ">Arcane</label>
          <div class="resource-content flexrow flex-center flex-between">
          <div class="rowHealth">
            <button class="upPoolPoints"  data-poolpoint="1" data-pool="arcane">+</button>
            <input type="text" name="system.arcane.current" value="{{system.arcane.current}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.arcane.base" value="{{system.arcane.base}}" data-dtype="Number"/>
            <button class="upPoolPoints"  data-poolpoint="-1" data-pool="arcane">-</button>
          </div>  
          <button class="resetPool" data-pool="arcane"><i class="fa-solid fa-repeat"></i></button>
        </div>
        <div class="defense flexrow flex-center flex-between">
            <button class="arcane-roll rollCheck"  data-roll-type="cast"  data-powertype="arcane" data-current="{{system.arcane.current}}" data-label="arcane"><span class="checkLabel">Check</span><i class="fa-regular fa-dice-d12"></i></button>
            <div>
              <span>Defense</span>
              <input type="text" name="system.arcane.def" data-label="def" value="{{system.arcane.def}}" data-dtype="Number"/>
            </div>
          </div>
          <div>
            <button class="rollCheck attack-button arcane-back" data-roll-type="attack" data-powertype="arcane" data-current="{{system.arcane.current}}" >Attack</button>
          </div>
          <div>
            <button class="rollCheck sheet-button" data-roll-type="cast" data-powertype="arcane" data-current="{{system.arcane.current}}" >Cast</button>
          </div>
        </div>
        <div class="resource grid-span-4 flex-group-center boxed">
          <label for="system.physical.current" class="pool-point-label-physical ">Physical</label>
          <div class="resource-content flexrow flex-center flex-between">
            <div class="rowHealth">
              <button class="upPoolPoints"  data-poolpoint="1" data-pool="physical">+</button>
              <input type="text" name="system.physical.current" value="{{system.physical.current}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="system.physical.base" value="{{system.physical.base}}" data-dtype="Number"/>
              <button class="upPoolPoints"  data-poolpoint="-1" data-pool="physical">-</button>
            </div>
            <button class="resetPool" data-pool="physical"><i class="fa-solid fa-repeat"></i></button>
          </div>
          <div class="defense flexrow flex-center flex-between">
            <button class="physical-roll rollCheck"  data-roll-type="cast"  data-powertype="physical" data-current="{{system.physical.current}}" data-label="physical"><span class="checkLabel">Check</span><i class="fa-regular fa-dice-d12"></i></button>
            <div>
              <span>Defense</span>
              <input type="text" name="system.physical.def" data-label="def" value="{{system.physical.def}}" data-dtype="Number"/>
            </div>
          </div>
           <div>
            <button class="rollCheck attack-button physical-back"  data-roll-type="attack" data-powertype="physical" data-current="{{system.physical.current}}">Attack</button>
          </div>
          <div>
            <button class="rollCheck sheet-button" data-roll-type="cast" data-powertype="physical" data-current="{{system.physical.current}}">Cast</button>
          </div>
        </div>
        <div class="resource grid-span-4 flex-group-center  boxed">
          <label for="system.mental.current" class="pool-point-label-mental ">Mental</label>
          <div class="resource-content flexrow flex-center flex-between">
          <div class="rowHealth">
            <button class="upPoolPoints"  data-poolpoint="1" data-pool="mental">+</button>
            <input type="text" name="system.mental.current" value="{{system.mental.current}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.mental.base" value="{{system.mental.base}}" data-dtype="Number"/>
            <button class="upPoolPoints"  data-poolpoint="-1" data-pool="mental">-</button>
          </div>
          <button class="resetPool" data-pool="mental"><i class="fa-solid fa-repeat"></i></button>
        </div>
        <div class="defense flexrow flex-center flex-between">
            <button class="mental-roll rollCheck"  data-roll-type="cast" data-powertype="mental" data-current="{{system.mental.current}}" data-powertype="mental" data-label="mental"><span class="checkLabel">Check</span><i class="fa-regular fa-dice-d12"></i></button>
            <div>
              <span>Defense</span>
              <input type="text" name="system.mental.def" data-label="def" value="{{system.mental.def}}" data-dtype="Number"/>
            </div>
          </div>
           <div>
            <button class="rollCheck attack-button mental-back" data-roll-type="attack" data-powertype="mental"  data-current="{{system.mental.current}}">Attack</button>
          </div>
          <div>
            <button class="rollCheck sheet-button" data-roll-type="cast" data-powertype="mental"  data-current="{{system.mental.current}}">Cast</button>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="fighting-stances">Fighting Stances</a>
    <a class="item" data-tab="flaws">Flaws</a>
    <a class="item" data-tab="magical-society">Magical Societies</a>
    <a class="item" data-tab="items">Items</a>
    <!-- <a class="item" data-tab="spells">Spells</a> -->
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-3">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/gw/templates/actor/parts/actor-features.html" }}
        </section>

      </section>
    </div>

    {{!-- Owned Fighting-stances Tab --}}
    <div class="tab features" data-group="primary" data-tab="fighting-stances">
      <section class="grid grid-3col">
        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-3">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/gw/templates/actor/parts/actor-fighting-stances.html" }}
        </section>

      </section>
    </div>

    {{!-- Owned flaws Tab --}}
    <div class="tab flaws" data-group="primary" data-tab="flaws">
      <section class="grid grid-3col">
        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-3">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/gw/templates/actor/parts/actor-flaws.html" }}
        </section>

      </section>
    </div>

     {{!-- Owned Magical Societies Tab --}}
    <div class="tab flaws" data-group="primary" data-tab="magical-society">
      <section class="grid grid-3col">
        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-3">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/gw/templates/actor/parts/actor-magical-society.html" }}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/gw/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/gw/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/gw/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>