<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <div class="resources grid grid-3col">
        <h1 class="charname grid-span-2"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      </div>
      
      <div class="resources grid grid-3col">
        <div class="toHit">
          <label for="system.toHit" class="resource-label">To Hit</label>
          <input type="text" name="system.toHit" class="system.toHit" value="{{system.toHit}}" data-dtype="Number"/>
        </div>
        <div class="">
            <label for="system.init" class="resource-label">Initiative</label>
            {{system.init}}
             <select name="init" class="initDie">
          {{#select system.init}}
            <option value="d4">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
          {{/select}}  
        </select>
        </div>
        
      </div>
      <div class="resources grid-span-12 grid grid-12col">
        <div class="resource grid-span-6 flex-group-center boxed">
          <label for="system.power.current" class="pool-point-label-arcane ">Power</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.power.current" value="{{system.power.current}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.power.base" value="{{system.power.base}}" data-dtype="Number"/>
          <button class="resetPool" data-pool="arcane"><i class="fa-solid fa-repeat"></i></button>
        </div>
        <!-- <div class="defense flexrow flex-center flex-between"> -->
            <!-- <button class="power-roll rollCheck" data-rolltype="powerCheck" data-current="{{system.power.current}}" data-label="power"><span class="checkLabel">Power Check</span><i class="fa-regular fa-dice-d12"></i></button> -->
            <!-- <div>
              <span>Defense</span>
              <input type="text" name="system.arcane.def" data-label="def" value="{{system.arcane.def}}"/>
            </div> -->
          <!-- </div> -->
          <!-- <div>
            <button class="rollCheck attack-button power-back" data-rolltype="powerAttack" data-current="{{system.power.current}}" >Attack</button>
          </div> -->
          <!-- <div>
            <button class="rollCheck sheet-button" data-rolltype="powerCast" data-current="{{system.power.current}}" >Cast</button>
          </div> -->
        </div>
        <div class="resource grid-span-6 flex-group-center boxed">
          <label for="system.health.current" class="pool-point-label-arcane ">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.health.current" value="{{system.health.current}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.health.base" value="{{system.health.base}}" data-dtype="Number"/>
          <button class="resetPool" data-pool="arcane"><i class="fa-solid fa-repeat"></i></button>
        </div>
      </div>
    </div>
    
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="abilities">Abilities</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Abilities Tab --}}
    <div class="tab items" data-group="primary" data-tab="abilities">
       {{> "systems/gw/templates/actor/parts/actor-npc-abilities.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "gw.active-effects"}}
    </div>

  </section>
</form>

