<form>
	<div class="form-group roll-group">
        <div>
            Add Your Power Die to the Roll?
            <input id="powerDieCheck" name="powerDieCheck" type="checkbox">
        </div> 
    </div>
</form>

<script>
   
</script>
