<form>
	<div class="form-group roll-group">
        <div>
            {{localize 'GW.Bane'}}
            <a class="item-control minus" onclick="handleDecrement()">
                <i class="fas fa-minus"></i>
            </a>

            <input id="boonbane" name="boonbane" type="number" data-dtype="Number" value="{{banes}}">

            <a class="item-control plus"  onclick="handleIncrement()">
                <i class="fas fa-plus"></i>
            </a>
            {{localize 'GW.Boon'}}
        </div> 
    </div>
</form>

<script>
    bbField = document.getElementById("boonbane");
    var count = bbField.value;

    function handleIncrement() {
        count++;
        bbField.value = count;
    };

    function handleDecrement() {
        count--;
        bbField.value = count;
    };
</script>
